<div class="row">
  <div class="medium-12 columns">
    <h1>Are you joining us?</h1>
    <% if notice %>
      <div data-alert class="alert-box"><%= notice %><a href="#" class="close">&times;</a></div>
    <% end %>
  </div>
</div>
<%= form_for @rsvp do |f| %>
  <%= render "shared/form_errors", resource: @rsvp %>

  <div class="row">
    <div class="medium-6 columns end">
      <%= f.label :name %>
      <%= f.text_field :name, required: true %>
    </div>
  </div>

  <div class="row">
    <div class="medium-6 columns end">
      <%= f.label :email %>
      <%= f.email_field :email, required: true %>
    </div>
  </div>

  <div class="row">
    <div class="medium-2 columns end">
      <%= f.label :attending %>
      <%= f.check_box :attending, checked: true %>
    </div>
  </div>

  <div class="row">
    <div class="medium-2 columns end">
      <%= f.label :total_attending %>
      <select id="rsvp_total_attending" name="rsvp[total_attending]">
        <% 7.times do |i| %>
          <% if i == 2 %>
            <option selected value="<%= i %>"><%= i %></option>
          <% else %>
            <option value="<%= i %>"><%= i %></option>
          <% end %>
        <% end %>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="medium-12 columns">
      <%= f.label :names_of_additional_guests %>
      <%= f.text_field :names_of_additional_guests %>

      <%= f.label :dietary_requirements %>
      <%= f.text_area :dietary_requirements %>

      <%= f.submit "RSVP", class: "button" %>
    </div>
  </div>
<% end %>